@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    126, Park Avenue<br />
    Bridgeport, CT, 06606<br />
    <abbr title="Phone">P:</abbr>
    +1(203)-xxx-xxxx
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:XYZ@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:ABC@example.com">Marketing@example.com</a>
</address>